In [1]:
# https://www.kaggle.com/yasserh/walmart-sales-prediction-best-ml-algorithms/notebook

## 1. Data Exploration

In [3]:
#Importing the basic librarires

import os
import math
import numpy as np
import pandas as pd
import seaborn as sns
from IPython.display import display

#from brokenaxes import brokenaxes
from statsmodels.formula import api
from sklearn.feature_selection import RFE
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor

from sklearn.decomposition import PCA
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [10,6]

import warnings 
warnings.filterwarnings('ignore')

In [4]:
# Importing the dataset

df = pd.read_csv("E:/Kaggle Practice/Walmart Prediction/Walmart.csv")
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [ ]:
# Store = the store number
# Date = the week of sales
# Weekly_Sales = sales for the given store
# Holiday_Flag = whether the week is a special holiday 
#                Holiday week = 1, Non-holiday week = 0
# Temperature = Temperature on the day of sale
# Fule_Price = Cost of fuel in the region
# CPI = Prevailing consumer price index
# Unemployment = Prevailing unemployment rate 
# Holiday Events :  Super Bowl: 12-Feb-10, 11-Feb-11, 10-Feb-12, 8-Feb-13
#                   Labour Day: 10-Sep-10, 9-Sep-11, 7-Sep-12, 6-Sep-13 
#                   Thanksgiving: 26-Nov-10, 25-Nov-11, 23-Nov-12, 29-Nov-13 
#                   Christmas: 31-Dec-10, 30-Dec-11, 28-Dec-12, 27-Dec-13

In [ ]:
original_df = df.copy(deep = True)
# 원본을 유지하기위해 복사해놓는다.
# copy 복사에는 deep(깊은 복사), shallow(얉은 복사)가 있는데 
# 얉은 복사는
# >>> import copy
# >>> a = [[1,2],[3,4]]
# >>> b = copy.copy(a)
# >>> a[1].append(5)
# >>> a
# [[1, 2], [3, 4, 5]]
# >>> b
# [[1, 2], [3, 4, 5]]

# 깊은 복사는 
# >>> import copy
# >>> a = [[1,2],[3,4]]
# >>> b = copy.deepcopy(a)
#>>> a[1].append(5)
# >>> a
# [[1, 2], [3, 4, 5]]
# >>> b
# [[1, 2], [3, 4]]

In [6]:
df.shape

(6435, 8)

In [7]:
df.shape[0]

6435

In [8]:
df.shape[1]

8

In [9]:
# Reframing the columns

df.Date = pd .to_datetime(df.Date)
df.Date

0      2010-05-02
1      2010-12-02
2      2010-02-19
3      2010-02-26
4      2010-05-03
          ...
6430   2012-09-28
6431   2012-05-10
6432   2012-12-10
6433   2012-10-19
6434   2012-10-26
Name: Date, Length: 6435, dtype: datetime64[ns]