In [ ]:
# 자동차 연비 데이터에 머신러닝 기반의 회귀 분석을 수행하여 연비에 영향을 미치는 항목을 확인하고, 그에 따른 자동차 연비를 예측한다.

In [16]:
import numpy as np
import pandas as pd

data_df = pd.read_csv('C:/Users/kaitnam/Documents/데이터 과학 기반의 파이썬 빅데이터 분석_한빛/My_Python/10장_data/auto-mpg.csv', header = 0, engine = 'python')

# header = 0은 파일의 첫 번째 줄에 열 이름이 있음을 나타낸다. 그렇기에 0번째 column부터 나오고
# 만약 header = 2라고 넣어주면 15.0 8 307.0 130 3504.... 이게 첫번째 열로 주어지고 결과같이 나온다.
# csv 포멧의 파일을 Parsing 하는 과정에서 에러가 날 수 있기 때문에 engine = 'python' 이렇게 붙여준다.

In [17]:
print('데이터셋 크기: ', data_df.shape) # 398행과 9열로 구성되어 있다. 
data_df.head()

데이터셋 크기:  (398, 9)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [18]:
# feature 중에 car_name, origin, horsepower는 분석에 사용하지 않으므로 제거 후 확인한다.

data_df = data_df.drop(['car_name', 'origin', 'horsepower'], axis = 1, inplace = False )
data_df.head()

    mpg  cylinders  displacement  weight  acceleration  model_year
0  18.0          8         307.0    3504          12.0          70
1  15.0          8         350.0    3693          11.5          70
2  18.0          8         318.0    3436          11.0          70
3  16.0          8         304.0    3433          12.0          70
4  17.0          8         302.0    3449          10.5          70

In [19]:
print(data_df.shape)

(398, 6)

In [20]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   weight        398 non-null    int64
 4   acceleration  398 non-null    float64
 5   model_year    398 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 18.8 KB

In [21]:
# 선형 회귀 분석 모델 구축하기

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [22]:
# X, Y 분할하기

Y = data_df['mpg']
X = data_df.drop(['mpg'], axis = 1, inplace = False)

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0)

In [27]:
X

     cylinders  displacement  weight  acceleration  model_year
0            8         307.0    3504          12.0          70
1            8         350.0    3693          11.5          70
2            8         318.0    3436          11.0          70
3            8         304.0    3433          12.0          70
4            8         302.0    3449          10.5          70
..         ...           ...     ...           ...         ...
393          4         140.0    2790          15.6          82
394          4          97.0    2130          24.6          82
395          4         135.0    2295          11.6          82
396          4         120.0    2625          18.6          82
397          4         119.0    2720          19.4          82

[398 rows x 5 columns]

In [23]:
# 선형 회귀 분석 모델 객체인 lr을 생성한다.

lr = LinearRegression()

In [24]:
# 학습 데이터 X (X_train)와 Y (Y_train)을 가지고 학습을 수행한다. fit()

lr.fit(X_train, Y_train)

LinearRegression()

In [25]:
# 선형 회귀 분석 : 평가 데이터(X_test)로 예측을 수행 -> 예측 결과 Y_predict 구하기

Y_predict = lr.predict(X_test)

In [26]:
# 회귀 분석은 지도 학습이므로 평가 데이터 X에 대한 Y (Y_test)를 이미 알고있다. 
# 평가 데이터의 결과값 (Y_test)과 예측 결과값 (Y_predict)의 오차를 계산하여 모델을 평가하는데, 
# mean_squared_error()를 이용하여 평가 지표 MSE를 구하고 구한 값의 제곱근을 계산하여 평가지표 RMSE를 구한다.
# 그리고 r2_score()를 이용하여 평가 지표 R^2를 구한다.

mse = mean_squared_error(Y_test, Y_predict)
rmse = np.sqrt(mse)

print('MSE : {O:.3f}, RMSE : {1:.3f}'.format(mse, rmse))
print('R^2(Variance score) : {0:.3f}'.format(r2_score(Y_test, Y_predict)))

KeyError: 'O'